<div class="container">
	
	<p><a href="/users/<%= @user.id %>"> Go to My Secrets</a></p>

	<h1>Secrets:</h1>
	
	<% @secrets.each do |secret| %>
		<h4><%= secret.content %></h4>
		<p><%= secret.likes.count %> likes</p>

		<% if secret.user != @user %>
		<form action="/like" method="post">
		    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		    <input type="hidden" name="like[secret_id]" value = "<%= secret.id %>">
			<button>Like</button>
		</form>
		<% end %>

		<% if secret.user == @user %>
			<button><a href="/secret/<%= secret.id %>" data-method="delete">Delete</a></button>
	
		<% end %>
	<% end %>
</div>
